<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
    <title>
    {% block title %}
       Real MEDIA
    {% endblock %}
    </title>
</head>
<body class ="bg-gray-400">
    {% include "cores/navbar.html" %}
    {%include 'cores/messages.html'%}
    <div>

        {%block body%}
        {%endblock%}
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>